body{
    background-color: #5F4F4F;
    padding:10px 85px;
    
    font:normal normal normal 11px "Verdana";
}
h2{
    font:normal normal bold 15px "Arial" Helvetica;
    padding: 4px;
    color: #fff;
    background-color: #C00;    
}
td,th{
    border: 1px solid #5F4F4F;
    text-align:left;
}
#pagina{    
    background-color: #FFF;
    border-left: 130px solid #ccc;
}

#contenido{  
    padding:8px;
    min-height: 600px;  
    border-left: 4px double  #4f4f4f;
}
#barraLateral{    
    float: left;
    margin-left: -130px;
    padding: 6px;
}
#barraLateral h3{
    background-color: #aaa;
    color:#DD0000;
    padding: 0 5px;
    
}
#menu {    
    padding: 0 15px;    
}
#menu li{
    color:#DD0000;
list-style-type:square;
}
#menu a{
    text-decoration: none;
    color: #4f4f4f;
    font: normal normal 600 11px "Arial";
}
#menu a:hover{    
    color:#777;
}